@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1566477422523'); /* IE9 */
  src: url('iconfont.eot?t=1566477422523#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABkQAAAJOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMXwE2AiQDCAsGAAQgBYRtBzQbiQURBdzIvjiwjZGNvRSndPaKTaX0i9HNTbkkGk36PsfDf8t3983O/kz2p9SmciJL1aWqaLowKLAokI6DkV12jf6Jmsl8efoWWgNjkIsF4x3LSj1PtNUN2ip0azqGe6MiVJfs+daz/I/86EovTRnncZJDSIRCSIQkmWwI/+dyencVUCDzA+Uyx6RJvYB6cSAFNNamyEoo44axC17gcQKNOTvivIkJisweF4hXaWqgFNyyzGJFaDUszeKDWknv0ngffT/+2Y1CUlfsgqsnoYfjn5yE6m0newwQHgJaXaPCDjJx1xi+UAlGrDThbIlj5QY/dTqBVhxVJdhfZ2f3gBnIfiaOx33UWILHamsIE5OuJYZebno4sur39S12Gs/yLR9swzX1+AbTPlQMIodR8Hg4ZivSJ/QTgeD+zV9F9/+Xdgaff82RMA/0ouzDEvwLDqrJBs/WpKxxGhuToXMUNRp0YPuQH1PloyeOh2J0grXLbAaVYgXNhB2ote1BS6EeQWNbu7ptGNuL3I0tTwBhwBuSPh+hMuCLZsIPamP+0DIQe2g8xPCWbWuR1BmjFnRgHpAsTd7ViYpzDxjWQXOeF5EuyEvyQZkV5ViLE/ISM5ZrqEQ8eKYRGnAaDgPBzNShlSyKzHWe+6Y3ZZbGjXKGIU0gBxgPILHIxAfNhap8/gAFq4HGHVV1+gvEFqlzUMoUA9BWPA2qepRXFldBRQgPeIyMQAMGocGAgLl5UAdZIhMnBGe13Knnh4qz7aXj322Bhq1I4XSrNK9p7ZKeJFRtNg==') format('woff2'),
  url('iconfont.woff?t=1566477422523') format('woff'),
  url('iconfont.ttf?t=1566477422523') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1566477422523#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e64c";
}

