.box{
    // background:red;
    background: #fff;
    height: 0.88rem;
    line-height: 0.88rem;
    position: relative;
    padding: 0rem 0.2rem 0rem 0.2rem;
}
.box img.logo {
    display: inline-block;
    width: 1.3rem;
    vertical-align: middle;
}
.box img {
    display: inline-block;
    width: 0.52rem;
    margin-top: 0.06rem;
    margin-bottom: 0.06rem;
    vertical-align: middle;
}
.searchInfor {
    display: inline-block;
    /* position: relative; */
    width: 5.4rem;
    height: 0.56rem;
    line-height: 0.56rem;
    vertical-align: middle;
    background-color: #F5F5F5;
    border-radius: 0.3rem;
    margin-left: 0.15rem;
    margin-bottom: 0.05rem;
}
.searchIcon {

    display: inline-block;
    width: 0.4rem;
    vertical-align: middle;
    margin: 0 0.1rem;
}
.searchInfor input {
    background-color: #F5F5F5;
    display: inline-block;
    width: 80%;
    height: 0.54rem;
    border: none;
}