.a {
    background: url(https://img.wowdsgn.com/category/background/10.jpg?imageslim) no-repeat left center;
    // background: red;
    background-size: 7.5rem;  
    position: relative;
    height: 1.6rem;
    padding: 0.3rem 0rem;
}